extends template
block variables
  - var index = "index.html"
  - var active_menu = index
  - var sub_img_list = ["saluki.jpg",'bbt.jpeg','peep1.jpg']
  - var sub_img_counter = 1
  - var logo_block_items = {"asap.png":"ASAP (стилизованный как LONG.LIVE.A$AP), является дебютным альбомом американского репера A$AP Rocky. Альбом был представлен 15 января 2013 года. Продвижением альбома занимались ASAP Worldwide, Polo Grounds Music, и RCA Records. В альбоме встречаются совместные записи с Schoolboy Q, Santigold, OverDoz, Kendrick Lamar, 2 Chainz, Drake, Big K.R.I.T., Yelawolf, Danny Brown, Action Bronson, Joey Badass, Gunplay, ASAP Ferg и Florence Welch.","gg4.jpg":"GHETTO GARDEN. MAYOT. В релизе 2020 года складывается оригинальный стиль MAYOT: минималистичный трэп в диапазоне от лиричного R&B до жесткого баса. Артист по максимуму использует автотюн, записывает коллаборации с FEDUK, BUSHIDO ZHO и SEEMEE, а участие OG Buda и blago white придают альбому психоделический вайб с оттенком гангста-рэпа.","jizus.jpeg":"Джизус — «Психо-Неврологические Заболевания С Видимостью Невидимых Существ». Состоялась премьера самого масштабного релиза в дискографии отечественного музыканта Джизуса. В прошлом году Владислав скитался от жанра к жанру, чему напрочь отсутствовали объяснения. Все ответы, на волнующие вопросы, слушатель отыщет в новом альбоме исполнителя «Психо-Неврологические Заболевания С Видимостью Невидимых Существ». Джизус с лёгкостью маневрирует от рэп-репрезентов до рок-баллад. Получилась сборная солянка для людей с самыми разными вкусами и предпочтениями."}
  - var block_left_title = 'Lsp - Tragic City'
  - var block_left_content = 'Третий студийный альбом Олега получил название Tragic City, который является сиквелом веселого, шумного и запойного Magic City. После веселья на душе главного героя остается лишь разруха и уныние, которая выливается в 13 шикарнейших композиций. В 2020 получил продолжение One More City.«В Tragic City дела идут своим чередом. Мальчишка Гарик настолько же ненавидит это место, насколько любит свою сестру, тонущую в порочном водовороте его зловонных трущоб. Герой жаждет возмездия и ради этого готов прибегнуть к любым, даже самым жестоким мерам…»'
  - var block_title = "XXXtentacion - ?"
  - var block_content = "? - второй студийный альбом американского рэпера и певца XXXTentacion и его последний студийный альбом, выпущенный перед его смертью. Выпущенный на лейблах Bad Vibes Forever, Caroline Distribution и Capitol Music Group 16 марта 2018 года и в основном спродюсированный постоянным соавтором Джоном Каннингемом, он включает в себя широкий спектр выступлений в качестве гостей из PnB Rock, Трэвиса Баркера из Blink-182, Джоуи Задиры, Мэтта Окса, Рио Сантаны, Джуды и Карлоса Андре, а также является продолжением его дебютного студийного альбома 17 (2017) и extended play. Рождественская песнь в гетто (2017). получил положительные отзывы критиков и стал первым альбомом XXXTentacion номер один в США, дебютировав под номером один в Billboard 200, заработав за первую неделю 131 000 единиц в эквиваленте альбома. С тех пор альбом был сертифицирован пятикратно платиновым Американской ассоциацией звукозаписывающей индустрии (RIAA). "
block content
  .sub-img
    each value in sub_img_list
      img(class = "sub-img"+sub_img_counter,src = "img/"+ value,alt = "")
      - sub_img_counter+=1

  .logo_block
    each value,key in logo_block_items
      .logo_item
        img(src="img/"+key, alt="")
        p=value

  .final_block_left
    .final_block_content
      .final_block_content_title=block_left_title
      .final_block_content_text=block_left_content		

  .final_block
    img(src="img/sad.jpg", alt="")
    .final_block_content
      .final_block_content_title=block_title
      .final_block_content_text=block_content

  

//- .logo_block
//-   .logo_item
//-     img(src='IMG/asap.png' alt='')
//-     p
//-       | ASAP (стилизованный как LONG.LIVE.A$AP), является дебютным альбомом американского репера A$AP Rocky. Альбом был представлен 15 января 2013 года. Продвижением альбома занимались ASAP Worldwide, Polo Grounds Music, и RCA Records. В альбоме встречаются совместные записи с Schoolboy Q, Santigold, OverDoz, Kendrick Lamar, 2 Chainz, Drake, Big K.R.I.T., Yelawolf, Danny Brown, Action Bronson, Joey Badass, Gunplay, ASAP Ferg и Florence Welch.
//-   .logo_item
//-     img(src='IMG/gg4.jpg' alt='')
//-     p
//-       | GHETTO GARDEN. MAYOT. В релизе 2020 года складывается оригинальный стиль MAYOT: минималистичный трэп в диапазоне от лиричного R&B до жесткого баса. Артист по максимуму использует автотюн, записывает коллаборации с FEDUK, BUSHIDO ZHO и SEEMEE, а участие OG Buda и blago white придают альбому психоделический вайб с оттенком гангста-рэпа.
//-   .logo_item
//-     img(src='IMG/jizus.jpeg' alt='')
//-     p
//-       | Джизус — «Психо-Неврологические Заболевания С Видимостью Невидимых Существ». Состоялась премьера самого масштабного релиза в дискографии отечественного музыканта Джизуса. В прошлом году Владислав скитался от жанра к жанру, чему напрочь отсутствовали объяснения. Все ответы, на волнующие вопросы, слушатель отыщет в новом альбоме исполнителя «Психо-Неврологические Заболевания С Видимостью Невидимых Существ». Джизус с лёгкостью маневрирует от рэп-репрезентов до рок-баллад. Получилась сборная солянка для людей с самыми разными вкусами и предпочтениями.
//- .final_block-left
//-   .final_block_content
//-     .final_block_content_title Lsp - Tragic City
//-     .final_block_content_text
//-       | Третий студийный альбом Олега получил название Tragic City, который является сиквелом веселого, шумного и запойного Magic City. После веселья на душе главного героя остается лишь разруха и уныние, которая выливается в 13 шикарнейших композиций. В 2020 получил продолжение One More City.«В Tragic City дела идут своим чередом. Мальчишка Гарик настолько же ненавидит это место, насколько любит свою сестру, тонущую в порочном водовороте его зловонных трущоб. Герой жаждет возмездия и ради этого готов прибегнуть к любым, даже самым жестоким мерам…»


//- .final_block
//-   img(src='IMG/sad.jpg' alt='')
//-   .final_block_content
//-     .final_block_content_title XXXtentacion - ?
//-     .final_block_content_text
//-       |? - второй студийный альбом американского рэпера и певца XXXTentacion и его последний студийный альбом, выпущенный перед его смертью. Выпущенный на лейблах Bad Vibes Forever, Caroline Distribution и Capitol Music Group 16 марта 2018 года и в основном спродюсированный постоянным соавтором Джоном Каннингемом, он включает в себя широкий спектр выступлений в качестве гостей из PnB Rock, Трэвиса Баркера из Blink-182, Джоуи Задиры, Мэтта Окса, Рио Сантаны, Джуды и Карлоса Андре, а также является продолжением его дебютного студийного альбома 17 (2017) и extended play. Рождественская песнь в гетто (2017). получил положительные отзывы критиков и стал первым альбомом XXXTentacion номер один в США, дебютировав под номером один в Billboard 200, заработав за первую неделю 131 000 единиц в эквиваленте альбома. С тех пор альбом был сертифицирован пятикратно платиновым Американской ассоциацией звукозаписывающей индустрии (RIAA). 


//- .header
//-   .header_title
//-     h3 Musicallity
//-   .menu
//-     .item-a
//-       .temp
//-         a(href='alboms.html') Альбомы
//-     .item
//-       .temp-a
//-         a(href='ispol.html') Исполнители
//-     .item
//-       .temp-a
//-         a(href='news.html') Новинки
