extends template
block variables 
  - var title = "Исполнители"
  - var ispolniteli = "ispolniteli.html"
  - var active_menu = ispolniteli
  - var rapers_list = [{'name':'Джизус','country':'Россия','city':'Киров','age':'26','pros':'265.864.000','mes':'766.020','image':'jizi.jpg'},{'name':'Drake','country':'Канада','city':'Торонто','age':'36','pros':'75.186.501.142','mes':'105.941.627','image':'drakeself.jpg'},{'name':'Friendly Thug 52 NGG','country':'Россия','city':'Санкт-Петербург','age':'23','pros':'78.364.130','mes':'857.771','image':'ft.jpeg'},{'name':'ASAP Rocky','country':'США','city':'Нью-Йорк','age':'35','pros':'11.569.121.874','mes':'43.551.567','image':'asap.jpg'},{'name':'Katy Perry','country':'США','city':'Санта-Барбара','age':'38','pros': '46.319.431.142','mes': '85.421.551','image':'kp.jpg'},{'name':'Morgenstern','country':'Россия','city':'Уфа','age':'25','pros':'3.432.763.521','mes':'5.156.517','image':'morgenface.jpg'},{'name':'Big Baby Tape','country':'Россия','city':'Москва','age':'23','pros':'784.410.000','mes':'2.756.517','image':'bbt.jpeg'},{'name':'zxcursed','country':'Украина','city':'Киев','age':'17','pros':'154.214.213','mes':'2.316.413','image':'cursed.png'},{'name':'Kizaru','country':'Россия','city':'Санкт-Петербург','age':'34','pros':'1.634.356.652','mes':'2.104.213','image':'kizaru.jpg'},{'name':'Jay-Z','country':'США','city':'Нью-Йорк','age':'53','pros':'12.421.341.352','mes':'142.304.313','image':'jayz.jpg'}]
  - var headers = ['Фото','Псевдоним', 'Страна', 'Город', 'Возраст', 'Количество прослушиваний', 'Количество слушателей в месяц']
  
block content
  p
    details
      summary Построение графика
      form
        p
          | Значение по оси OX:
          br
          label
            input.input(type = 'radio', name = 'graph', value = 'attribute')
            | Псевдоним
          br
          label
            input.input(type = 'radio', name = 'graph', value = 'pros')
            | Количество прослушиваний
          br
          label
            input.input(type = "radio", name = 'graph', value = 'mes')
            | Количество новых слушателей в месяц
        p Результат: 
          br
          label
            input.input(type = "checkbox", name = "graph", value = "country") 
            | Страна
          br
          label
            input.input(type = "checkbox", name = "graph", value = "city") 
            | Город
          br    
          label
            input.input(type = "checkbox", name = "graph", value = "age") 
            | Возраст
        br
        p 
          input.btn(type = "button" value = "Сортировать")
          input.btn(type = "reset" value = "Сбросить настройки")
  p
    details 
      summary Фильтр
      form
        p 
          label Псевдоним:
            input.input(type = 'text')   
            br
          label Страна:
            input.input(type = 'text')   
            br
          label Возраст:
            | От
            input.input(type = "text")
            | До
            input.input(type = 'text')
            br
          label Количество прослушиваний:
            | От
            input.input(type = "text")    
            | До
            input.input(type = "text")
            br
          label Количество слушателей в месяц:
            | От
            input.input(type = "text")    
            | До
            input.input(type = "text")
            br
        p
          input.btn(type = "button" value = 'Сортировать')
          input.btn(type = "reset" value = "Сбросить настройки")

  p
    details
      summary Сортировка
      form
        p Первый уровень:
          select
            each header in headers
              option= header 
          select
            option По возрастанию
            option По убыванию
        p Второй уровень:
          select
            each header in headers 
              option= header
          select
            option По возрастанию
            option По убыванию
        p Третий уровень:
          select
            each header in headers 
              option= header
          select
            option По возрастанию
            option По убыванию
        p 
          input.btn(type = "button" value = "Сортировать")
          input.btn(type = "reset" value = "Сбросить настройки")



  table.table(border = "2")
    tr
      each header in headers
        th= header
    each item in rapers_list 
      tr
        td
          img(src=`img/${item.image}`, alt=`${item.name}`) 
        td= item.name 
        td= item.country 
        td= item.city 
        td= item.age 
        td= item.pros 
        td= item.mes








